.room-content__aside {
    flex-shrink: 0;
    padding-right: 24px;
}

.room-content__code-block {
    border: 1px solid #dadce0;
    border-radius: 8px;
    background: #fff;   
    width: 162px;
    box-sizing: content-box;
    padding: 11px 16px 8px;
    margin-bottom: 24px;
}

.code-block__title,
.code-block__code {
    display: flex;
    align-items: center;
}

.code-block__title {
    justify-content: space-between;
    color: #3c4043;
    font-size: 17px;
    font-weight: 600;
}

.code-block__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.code-block__icon {
    padding: 5px;
    border-radius: 50%;
    transition: .1s;
}

.code-block__icon:hover {
    background-color: #3c404313;
}

.code-block__code {
    height: 48px;
    display: flex;
    align-items: center;
}

.code-block__code-text {
    margin-right: 12px;
}

.room-content__expect-block {
    border: 1px solid #dadce0;
    border-radius: 8px;
    width: 195px;
    padding: 16px;
}

.expect-block__title {
    font-size: 14px;
    color: #3c4043;
    padding-bottom: 16px;
}

.expect-block__expect-tasks > p {
    color: rgba(0,0,0,.549);
    font-size: 13px;
}

.expect-block__button-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
}

.expect-block__button-block > button {
    border: none;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 5px;
}

@media (max-width: 780.98px) {
    .room-content__aside {
        display: none;
    }
}