.profile-header {
    min-height: 64px;
    max-height: calc(64px + 65px);
    background-color: rgb(255, 255, 255);
    transition: .3s ease;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 50;
}

.header-shadow {
    /* box-shadow: 1px 1px 3px 0.5px rgb(60, 64, 67, 0.5); */
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 2px 6px 2px rgb(60 64 67 / 15%);
}

.inner__header {
    max-height: 64px;
    padding: 10px 20px 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

/* LOGO */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 15%;
}

.logo-link {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
}

.logo-icon::before {
    content: url('../../assets/icons/google-icon.svg');
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-right: 5px;
}

.logo-text {
    font-size: 20px;
    font-weight: 500;
    color: #5f6368;
}

/* SEARCH INPUT */

.search-block {
    background: #f1f3f4;
    border-radius: 12px;
    margin-left: 30px;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input > span {
    padding: 0 10px;
    position: relative;
}

.search-input > span > div {
    position: absolute;
    bottom: -17.75px;
    transition: .4s ease;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-input > span > div:hover {
    background-color: #5f63683e;
}

.search-input > input {
    width: 600px;
    padding: 12px 20px;
    border: 1px solid transparent;
    background: #f1f3f4;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    margin-left: 12px;
    border-radius: 12px;
}

.search-input > input::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    color:rgb(169, 166, 166, 0.6);
}

.search-input > input:focus {
    outline: none;
}

/* search block active  */

.search-block-focused {
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 3px 1px #12121236;
}

.search-input-focused > input {
    background: rgb(255, 255, 255);
}

/* icons */

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.icons > span, .icons-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 50%;
    transition: .5s ease;
}

.icons > span:hover {
    background: rgb(169, 166, 166, 0.3);
}

.icons > span > svg {
    object-fit: cover;
    width: 25px;
    height: 25px;
}

.icons-avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    box-sizing: content-box;
    border: 4px solid transparent;
    transition: .3s ease;
}

.icons-avatar:hover {
    border: 4px solid rgba(206, 205, 205, 0.425);
}

.icons-avatar > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.icons-search {
    display: none;
}

/* NAVBAR */

.profile-navbar {
    width: 280px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-menu {
    list-style: none;
}

.profile-menu__link {
    text-decoration: none;
    color: rgb(60,64,67);
    margin-left: 15px;
    font-weight: 400;
}

.profile-menu__item {
    width: 100%;
    padding: 10px 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.profile-menu__item-active {
    background-color: rgb(232,240,254);
}

.profile-menu__link-active {
    color: rgb(25,103,210);
}

/* RESPONSIBLE NAVBAR */

.profile-responsible-navbar {
    display: none;
    flex-wrap: nowrap;
    background-color: rgba(255,255,255,.96);
    border-bottom: 1px solid rgb(218,220,224);
    width: 100%;
    height: 48px;
    overflow: hidden;
}

.profile-responsible-menu {
    box-sizing: content-box;
    display: flex;
    list-style: none;
    height: 48px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: -17px;
    padding-bottom: 17px;
}

.profile-responsible-menu__item {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-end;
    height: 48px;
    margin: 0 auto;
    padding: 0 16px;
}

.profile-responsible-menu__link-active > .menu-link-text {
    color: rgb(26, 115, 232);
}

.profile-responsible-menu__link {
    text-decoration: none;
}

.menu-link-text {
    color: rgb(95, 99, 104);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.10px;
    line-height: 1.25rem;
    word-break: break-all;
    word-wrap: break-word;
    hyphens: auto;
    text-align: center;
    white-space: nowrap;
    padding: 0 0 8px;
}

.menu-link__border {
    width: 100%;
    overflow-y: hidden;
    padding: 0 4px;
    height: 4px;
    background-color: transparent;
    border-radius: 3px;
}

.menu-link__border-active {
    background: rgb(26,115,232);
}

/* PROFILE BODY */

.profile-body {
    display: flex;
    padding: 84px 0 20px;
}

.profile-container {
    max-width: 1120px;
    padding: 0px 30px 0 320px;
}


/* PROFILE - BODY - CONTENT */

.profile-content {
    max-width: 840px;
    padding: 0 20px;
}

.profile-content__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 50px;
}

.profile-responsible-content__header {
    display: none;
}

.profile-content__header > h1,
.profile__review-text > h1,
.profile-settings__header > h2 {
    font-weight: 500;
}


.profile__review {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.profile__review-responsible__img {
    display: none;
    width: 64px;
    height: 64px;

}

.profile__review-responsible__img > img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.profile__review-text > h1 {
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

/* PROFILE - MAIN - FORM */

.profile-settings {
    border: 1px solid rgb(169, 166, 166);
    border-radius: 12px;
    margin-bottom: 30px;
}

.profile-settings__header {
    padding: 25px 20px 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.profile-settings__header > p > span {
    color: rgb(26, 115, 232);
    cursor: pointer;
}

/* form */

.profile-form {
    pointer-events: all;
}

.profile-main__form {
    padding-bottom: 20px;
}

.avatar-field-block {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.avatar-field-block > img {
    height: 100%;
    width: 100%;
    object-position: center;
    border-radius: 50%;
    object-fit: cover;
}

.profile-input:not(:last-child) {
    border-bottom: 1px solid rgb(169, 166, 166);
}

.profile-input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    transition: .5s ease;
    cursor: pointer;
}

.profile-input:hover {
    background: rgba(215, 213, 213, 0.3);
}

.profile-field__name {
    width: 20%;
}

.profile-field__name > small {
    font-weight: 700;
    color: #5f6368;
}

.profile-field__value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.profile-field__value > p {
    width: 80%;
}

.profile-contact-btn {
    display: flex;
    background-color: transparent;
    border: 1px solid #5f636862;
    align-items: center;
    justify-content: center;
    border-radius: 19px;
    padding: 5px 10px;
}

.profile-contact__footer {
    padding: 15px 0 0 20px;
    border-top: 1px solid rgb(169, 166, 166);
}

.profile-contact__footer > h3 {
    font-size: 15px;
    font-weight: 600;
    color: #5f6368;
}

.profile-contact-btn {
    margin: 20px 0 30px;
    transition: .3s ease;
    cursor: pointer;
}

.profile-contact-btn:hover {
    background: rgba(218, 216, 216, 0.3);
}

.profile-contact-btn > big {
    font-size: 14px;
    margin-left: 10px;
    letter-spacing: 1.15px;
}

.responsible-value {
    display: none;
    margin-top: 5px;
}

/* AVATAR MODAL WINDOW */

.avatar-modal-window {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    overflow: auto;
    max-height: 90%;
}

.avatar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar-logo {
    cursor: pointer;
}

.avatar-close, .avatar-menu {
    box-sizing: content-box;
    padding: 5px 7px 3px;
    cursor: pointer;
    transition: .2s;
    border-radius: 50%;
}

.avatar-close:hover, .avatar-menu:hover {
    background-color: #5f63681e;
}

.avatar-main {
    width: 100%;
}

.avatar-info > h4 {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.avatar-info > p {
    font-size: 15px;
    color: #5f6368;
}

.avatar-privacy {
    display: flex;
    align-items: center;
    padding: 17px 0;
}

.avatar-privacy > div {
    display: flex;
    padding-right: 10px;
}

.avatar-privacy > p {
    font-size: 14px;
    color: #5f6368;
}

.avatar-privacy > p > span {
    color: rgb(25, 103, 210);
    cursor: pointer;
}

.avatar-hr {
    border: 1px solid #ececec;
}

.avatar-block {
    padding: 17px 0;
    display: flex;
    height: min(100vw - 38px, 288px);
    justify-content: center;
    margin: auto;
    min-height: 96x;
    min-width: 96px;
    width: min(100vw - 38px, 288px);
    box-sizing: content-box;
}

.avatar-block__inner {
    width: 100%;
    height: 100%;
}

.avatar-block__inner > img {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.avatar-add > button {
    padding: 0 15px 0 11px;
    border: 1px solid #dadce0;
    width: 100%;
    color: #1a73e8;
    transition: .2s;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 36px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.avatar-add > button:hover {
    background: #1a73e81d;
}

.camera-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.camera-icon > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* AVATAR EDIT MODAL WINDOW */

.avatar-edit__modal-window {
    height: calc(100vh - 96px);
    width: 840px;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    overflow: auto;
}

.avatar-edit__header {
    padding-bottom: 20px;
}

.avatar-title > h2 {
    font-size: 18px;
    font-weight: 400;
}

.avatar-edit__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.avatar-edit__main-drag {
    border: 3px solid rgb(25, 103, 210);
    background: rgba(138, 180, 248, .24);
    border-radius: 8px;
}

.avatar-edit__image > img {
    height: 180px; 
    margin-bottom: 36px;
    width: 180px;
}

.avatar-edit__text > h2 {
    font-weight: 400;
}

.avatar-edit__or {
    margin: 8px 0;
    color: rgb(95, 99, 104);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.avatar-edit__buttons, 
.avatar-edit__buttons > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-edit__buttons > * {
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid #dadce0;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.avatar-edit__buttons *:hover {
    background: rgba(0, 106, 255, 0.041);
}

.avatar-edit__buttons * > span {
    margin-left: 10px;
}

.avatar-edit__buttons > label {
    margin-right: 10px;
}

.avatar-edit__file-input {
    display: none;
}

/* SAVE AVATAR */

.save-avatar__modal-window {    
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background-color: rgb(32, 33, 36) !important;
    border-radius: 8px;
    overflow: hidden;
}

.avatar-close > img, .avatar-menu > img {
    filter: invert(100%) 
    sepia(0%) saturate(7499%) 
    hue-rotate(313deg) brightness(120%) 
    contrast(95%);
}

.save-avatar__title > h2 {
    color: rgb(255, 255, 255);
}

.save-avatar__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-avatar__img {
    max-height: 441px;
    max-width: 441px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.save-avatar__img > img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}

.save-avatar__button {
    padding: 50px 0 0;
}
.save-avatar__button > button {
    background-color: rgba(138, 180, 248, .24);
    border: none;
    height: 36px;
    border-radius: 4px;
    padding: 0 24px;
    color: rgb(210,227,252);
    cursor: pointer;
    transition: .3s;
}

.save-avatar__button > button:hover {
    background-color: rgba(138, 180, 248, 1);
    color: #f1f3f4;
}


/* MEDIA */

@media (min-width: 1500.98px) {
    .profile-container {
        margin: 0 auto;
        padding-left: 0;
    }
}

@media (max-width: 1070.98px) {
    /* REVIEW IMG */

    .profile__review-responsible__img {
        display: block;
    }

    .profile__review-img {
        display: none;
    }
}

@media (max-width: 1022.98px) {
    
    /* RESPONSIBLE NAVBAR */

    .profile-responsible-navbar {
        display: flex;
    }    

    .profile-navbar {
        display: none;
    }

    /* RESPONSIBLE IMG */

    .profile__review-responsible__img {
        display: none;
    }

    .profile__review-img {
        display: block;
    }

    /* PROFILE BODY */

    .profile-container {
        padding: 0 30px;
        margin: 0 auto;
    }

    .profile-container {
        padding: 50px 0 50px;
    }

    .profile-content__header > h1 {
        display: none;
    }
}

@media (max-width: 977.98px) {
    /* HEADER */

    .inner__header {
        justify-content: space-between;
    }

    /* INPUT */

    .search-input > input {
        width: 500px;
    }

    /* ICONS */

    .icons {
        width: auto;
    }
}

@media screen and (min-width: 936.98px) and (min-height:500px) {
   /* SAVE AVATAR */
    .save-avatar__modal-window {
        height: calc(100vh - 96px);
        width: 840px;
    }
}

@media (max-width: 866.98px) {

    /* HEADER */

    .logo {
        padding-left: 20px;
    }

    .search-input > input {
        width: 350px;
    }
}

@media (max-width: 768.98px) {
    /* HEADER */

    .logo {
        padding-left: 40px;
    }
    .search-input > input {
        width: 100%;
    }
}

@media(max-width: 742.98px) {
    /* REVIEW IMG */
    .profile__review-responsible__img {
        display: block;
    }

    .profile__review-img {
        display: none;
    }
}

@media (max-width: 650.98px) {
    /* SEARCH BLOCK | SEARCH INPUT */

    .inner__header {
        justify-content: space-around;
    }

    .search-block > span, .search-block > span > div > svg {
        display: none;
    }

    .search-block{
        display: none;
    }

    /* ICONS */

    .icons-search {
        display: flex;
    }
}

@media (max-width: 638.98px) or (max-height: 499.98px) {
    .save-avatar__modal-window {
        max-width: calc(100vw - 96px);
    }
}

@media screen and (min-width: 640px) and (min-height: 500px) {
    .avatar-edit__modal-window {
        border-radius: 8px;
        max-height: calc(100vh - 96px);
        max-width: calc(100vw - 96px);
    }
    
    div.avatar-modal-window {
        max-height: 100%;
        border-radius: 0;
    }

    .avatar-modal-window {
        max-width: 400px;
        width: 400px;
    }
}

@media (max-width: 636.98px) {
    /* PROFILE-FIELD */

    .profile-field__name {
        width: 90%;
    }

    .responsible-value {
        display: block;
    }   

    .profile-field__value {
        justify-content: flex-end;
    }

    .profile-field__value > p {
        display: none;
        width: auto;
    }
}

@media (max-width: 429.98px) {
    /* HEADER */

    .inner__header {
        justify-content: space-between;
    }

    .logo {
        padding-left: 70px;
    }

    .icons > span {
        display: none;
    }

    .icons > span, .icons-search {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}

@media (max-width: 366.98px) {

    /* CONTACT FORM FOOTER */

    .profile-contact__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 5px 0;
    }

    .profile-contact-btn > big {
        font-size: 13px;
    }

    .profile-contact-btn > figure {
        display: none;
    }

    div.avatar-modal-window {
        padding: 10px;

    }
}