/* ROOM CONTENT INPUT */

.room-content__input {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 8px;
    margin-bottom: 16px;
    min-height: 72px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
}

.room-content__input-button {
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, .549);
}

.input-button__avatar-img {
    border-radius: 50%;
    max-width: 75px;
    max-height: 75px;
    vertical-align: middle;
}

.input-button__avatar-block {
    margin-left: 8px;
    padding: 16px;
}

.input-button__text {
    display: flex;  
    align-items: center;
    flex: 1 1 auto;
    height: 100%;
    color: inherit;
    font-size: 14px;
    font-weight: 600;
}


.room-content__input-repeat {
    display: flex;
    margin-left: 16px;
    padding: 0 12px;
}

.input-repeat__icon {
    fill: #5f6368;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    box-sizing: content-box;
    cursor: pointer;
    transition: 150ms;
    border-radius: 50%;
}

.input-repeat__icon:hover {
    background-color: #5f636816;
}

/* CREATE TASK */

.room-details__create-task {
    min-height: 72px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 8px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.create-task__form {
    flex: 1 1 auto;
    padding-top: 24px;
    overflow-y: auto;
}

.create-task__form-course {
    margin-bottom: 24px;
    padding: 0 24px;
}

.create-task__form-course__text {
    margin-bottom: 8px;
}

.create-task__form-course__selects {
    display: flex;
}

.create-task__users-select {
    margin-left: 16px;
}

/* textarea */

.create-task__form-text {
    margin-bottom: 24px;
    padding: 0 24px;
    position: relative;
    overflow: hidden;
}

.move-textarea__block {
    position: relative;
    padding: 22px 16px 10px;
    background: #f8f9fa;
    border-radius: 4px 4px 0 0;
}

.create-task__textarea {
    resize: none;
    background: transparent;
    z-index: 55;
    min-height: 100px;
    margin-top: 2px;
    width: 100%;
    position: relative;
    overflow-wrap: break-word;
    outline: none;
    border: none;
    font-size: 14px;
    color: #000000DE;
    overflow: hidden;
    height: auto;
    max-width: 700px;
}

.create-task__textarea > ul,
.create-task__textarea > * > ul {
    width: 100%;
    list-style: disc;
    margin: 13px 0;
    padding-left: 40px;
}


.move-textarea__label {
    color: #5f6368;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    padding-left: 16px;
    transition: all .3s cubic-bezier(0.4,0,0.2,1);
    font-size: 16px;
    transform: translateX(0);
    transition: .1s;
}  

.move-textarea__label-focused {
    transform: scale(0.75) translateX(-115px) translateY(-27px);
}

/* textarea */

/* underline */

.create-task__textarea-underline {
    height: 1px;
    position: absolute;
    bottom: 0;
    background: #80868b;
    right: 24px;
    left: 24px;
}

/* underline animations */

.create-task__textarea-underline__focused {
    height: 2px;
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 24px;
    left: 24px;
}

.create-task__textarea-underline__focused-enter-active {
    animation: underline-active .3s cubic-bezier(0.4,0,0.2,1) forwards;
}

.create-task__textarea-underline__focused-exit-active {
    animation: underline-disactive .3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}


@keyframes underline-active {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }

    100% {
        opacity: 1;
        transform: scaleX(1)
    }
}

@keyframes underline-disactive {
    0% {
        opacity: 1;
        transform: scaleX(1);
    }

    100% {
        opacity: 0;
        transform: scaleX(1);
    }
}

/* underline animations */

/* underline */

/* modify textarea */

.create-task__modify-textarea {
    background-color: #f8f9fa;
    display: flex;
}

/* modify textarea */






/* submit or cancel block */

.create-task__submit-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8px 8px 24px;
}

.create-task__links {
    margin: 0 16px 16px 0;
    flex-grow: 1111;
}

.create-task__submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin: 0 16px 16px 0;
}

.create-task__links-inner {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1;
}

/* submit or cancel block */