/* ROOM CONTENT INPUT */

.room-content__input {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 8px;
    margin-bottom: 24px;
    min-height: 72px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
}

.room-content__input-button {
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, .549);
}

.input-button__avatar-img {
    border-radius: 50%;
    max-width: 75px;
    max-height: 75px;
    vertical-align: middle;
}

.input-button__avatar-block {
    margin-left: 8px;
    padding: 16px;
}

.input-button__text {
    display: flex;  
    align-items: center;
    flex: 1 1 auto;
    height: 100%;
    color: inherit;
    font-size: 14px;
    font-weight: 600;
}


.room-content__input-repeat {
    display: flex;
    margin-left: 16px;
    padding: 0 12px;
}

.input-repeat__icon {
    fill: #5f6368;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    box-sizing: content-box;
    cursor: pointer;
    transition: 150ms;
    border-radius: 50%;
}

.input-repeat__icon:hover {
    background-color: #5f636816;
}

/* CREATE TASK */

.room-details__create-task {
    min-height: 72px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 8px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.create-task__form {
    flex: 1 1 auto;
    padding-top: 24px;
    overflow-y: auto;
}

.create-task__form-course {
    margin-bottom: 24px;
    padding: 0 24px;
}

.create-task__form-course__text {
    margin-bottom: 8px;
    color: #5f6368;
    font-weight: 600;
    line-height: 1.25rem;
    font-size: 14px;
}

.create-task__form-course__selects {
    display: flex;
}

.create-task__users-select {
    margin-left: 16px;
}

/* textarea */

.create-task__form-text {
    margin-bottom: 24px;
    padding: 0 24px;
    position: relative;
    overflow: hidden;
}

/* textarea */





/* submit or cancel block */

.create-task__submit-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8px 8px 24px;
}

.create-task__links {
    margin: 0 16px 16px 0;
    flex-grow: 1111;
    display: flex;
    align-items: center;
}

.create-task__links-inner {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1;
}

.create-task__submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin: 0 16px 16px 0;
}

/* submit buttons */

.create-task__submit-cancel {
    margin-right: 24px;
}

.create-task__submit-cancel__text {
    padding: 0 8px;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #5f6368;
    font-weight: 600;
    font-size: 14px;
    transition: .1s;
    line-height: 36px;
}

.create-task__submit-cancel__text:hover {
    background: #5f63681a;
}

/* submit buttons */

/* submit or cancel block */