*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
}

input:is(:-webkit-autofill, :-webkit-autofill-focus) {
    transition: background-color 600000s 0s, color 600000s 0s;
}
