.move-textarea__block {
    position: relative;
    padding: 22px 16px 10px;
    background: #f8f9fa;
    border-radius: 4px 4px 0 0;
}

.create-task__textarea {
    resize: none;
    background: transparent;
    z-index: 55;
    min-height: 100px;
    margin-top: 2px;
    width: 100%;
    position: relative;
    overflow-wrap: break-word;
    outline: none;
    border: none;
    font-size: 14px;
    color: #000000DE;
    overflow: hidden;
    height: auto;
    max-width: 700px;
}

.create-task__textarea > ul,
.create-task__textarea > * > ul {
    width: 100%;
    list-style: disc;
    margin: 13px 0;
    padding-left: 40px;
}


.move-textarea__label {
    color: #5f6368;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    padding-left: 16px;
    transition: all .3s cubic-bezier(0.4,0,0.2,1);
    font-size: 16px;
    transform: translateX(0);
    transition: .1s;
}  

.move-textarea__label-focused {
    transform: scale(0.75) translateX(-115px) translateY(-27px);
}





/* underline */

.create-task__textarea-underline {
    height: 1px;
    position: absolute;
    bottom: 0;
    background: #80868b;
    right: 24px;
    left: 24px;
}

/* underline animations */

.create-task__textarea-underline__focused {
    height: 2px;
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 24px;
    left: 24px;
}

.create-task__textarea-underline__focused-enter-active {
    animation: underline-active .3s cubic-bezier(0.4,0,0.2,1) forwards;
}

.create-task__textarea-underline__focused-exit-active {
    animation: underline-disactive .3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}


@keyframes underline-active {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }

    100% {
        opacity: 1;
        transform: scaleX(1)
    }
}

@keyframes underline-disactive {
    0% {
        opacity: 1;
        transform: scaleX(1);
    }

    100% {
        opacity: 0;
        transform: scaleX(1);
    }
}

/* underline animations */

/* underline */




/* modify textarea */

.create-task__modify-textarea {
    background-color: #f8f9fa;
    display: flex;
}

/* modify textarea */
